.vilkår {
    &__navn {
        width: 13rem;
    }

    &__kortinfo {
        width: 8rem;
    }

    &__ikon {
        width: 2rem;
    }

    &__datakilde {
        width: 12rem;
        color: #877b75;
    }
}