.vilkårcontainer {
    margin-top: 1rem;
    padding: 3rem;
}

.vilkårperson {
    &__informasjon {
        margin-top: 1rem;
        max-width: 40rem;
        padding: 0 2rem;

        &_tabell {
            width: 100%;
        }
    }
}