.vilkårcontainer {
    margin-top: 1rem;
    padding: 0;

    &__innhold {
        padding: 3rem;
        padding-top: 2rem;

        &--split {
            display: flex;
            justify-content: space-between;
    
            &-skille {
                margin: 0 2rem;
                border-left: 1px solid @navGra20;
            }
        }
    
        & hr {
            border: unset;
            border-top: 1px solid @navGra20;
            margin: 3rem 0 2rem 0;
        }
    }

    & .alertstripe__tekst {
        max-width: unset;
    }
}